.hub {
    margin-bottom: 10rem;
}
.bonuses {
    background: #ffcf00;
    max-width: 18rem;
    align-self: center;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    svg {
        path {
            stroke: #414141;
        }
    }
    
}
.profileBtn {
    min-height: 16rem;
    padding: 2rem 1.2rem;
    svg {
        height: 5.4rem;
    }
}
