html {
    font-size: 10px;
}
.AppContainer {
    padding: 3rem;
}
.wrapper {
    padding: 0 2.5rem;
    width: 100%;
}
#root {
    min-height: 100vh;
    flex: 1;
}
body {
    background: #f4fafa;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}
.pageScrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: 100%;
    transition: 0.3s transform;
}
.pageScrollable::-webkit-scrollbar {
    display: none;
}
.scrollEnabled {
    overflow-y: auto;
}
.scrollDisabled {
    overflow-y: auto;
}
.textButton {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffcf00;
}
.title {
    font-size: 2rem;
}
.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: rgba(54, 202, 203, 1);
}
.dot-active {
    width: 8px;
    height: 8px;
}
.info-text-item {
    font-size: 1.6rem;
    font-weight: 500;
}
.c-yellow {
    color: #ffcf00;
}
.text {
    font-size: 1.4rem;
    line-height: 1.4;
}
.transparent-btn {
    color: #d7d7d7;
    font-size: 1.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
}
.c-blue {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(18, 178, 179, 1);
}
.fz-xs {
    font-size: 1.2rem;
}
.fz-s {
    font-size: 1.2rem;
}
.fz-m {
    font-size: 1.4rem;
}
.fz-l {
    font-size: 1.6rem;
}
.fz-xl {
    font-size: 2rem;
}
.pin-item {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: #c7eded;
}
.pin-item-filled {
    background: #ffcf00;
}
.pin-btn {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.113);
    height: 4.8rem;
    border-radius: 50%;
    width: 4.8rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.pin-incorrect > .pin-item {
    background: #f40f0f;
}
.c-error {
    color: #f40f0f;
}
.search-block {
    border-radius: 6px;
    background: #eff6f8;
}
.search-block input {
    background: transparent;
}
.code-input {
    font-size: 2.4rem !important;
    font-weight: 700;
}
.border-bottom {
    border-bottom: 1px solid #f3f3f3;
}
.scrollableItemsList {
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 0;
}
.scrollableItemsList::-webkit-scrollbar {
    display: none;
}
.titleTopOverflowed {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.whiteBorderedBlock {
    border-radius: 1.6rem;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.1);
}
.big-btn {
    padding: 2rem;
}
.grayInfo {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background: #f8f8f8;
}
.status {
    padding: 1rem 1.5rem;
    font-weight: 600;
    color: white;
    border-radius: 2px;
}
.status-green {
    background: #7ed321;
}
.status-gray {
    background: #d7d7d7;
}
.text-underline {
    text-decoration: underline;
}
.pageZoomOut {
    transform: scale(0.91) translateY(-4rem);
}
.countYellowBlack {
    padding: 2px 8px;
    border-radius: 1000px;
    background: #ffcf00;
}
