html {
    font-size: 10px;
}
.AppContainer {
    padding: 3rem;
}
.wrapper {
    padding: 0 3rem;
    width: 100%;
}
#root {
    min-height: 100vh;
    flex: 1;
}
body {
    background: #f4fafa;
    min-height: 100vh;
}
.textButton {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffcf00;
}
.title {
    font-size: 2rem;
}
.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: rgba(54, 202, 203, 1);
}
.dot-active {
    width: 8px;
    height: 8px;
}
.info-text-item {
    font-size: 1.6rem;
    font-weight: 500;
}
.c-yellow {
    color: #ffcf00;
}
.text {
    font-size: 1.4rem;
    line-height: 1.4;
}
.transparent-btn {
    color: #d7d7d7;
    font-size: 1.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
}
.c-blue {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(18, 178, 179, 1);
}
.fz-xs {
    font-size: 1.2rem;
}
.fz-s {
    font-size: 1.2rem;
}
.fz-m {
    font-size: 1.4rem;
}
.fz-l {
    font-size: 1.6rem;
}
.fz-xl {
    font-size: 2rem;
}
.pin-item {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: #c7eded;
}
.pin-item-filled {
    background: #ffcf00;
}
.pin-btn {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.113);
    height: 4.8rem;
    border-radius: 50%;
    width: 4.8rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.pin-incorrect > .pin-item {
    background: rgb(242, 59, 59);
}
.c-error {
    color: rgb(242, 59, 59);
}
.search-block {
    border-radius: 6px;
    background: #eff6f8;
}
.search-block input {
    background: transparent;
}
.border-bottom {
    border-bottom: 1px solid #f3f3f3;
}
.scrollableItemsList {
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 0
}
.scrollableItemsList::-webkit-scrollbar {
    display: none;
}
