html {
    font-size: 10px;
}
.AppContainer {
    padding: 3rem;
}
.wrapper {
    padding: 0 3rem;
    width: 100%;
}
#root {
    min-height: 100vh;
    flex: 1;
}
body {
    background: #f4fafa;
    min-height: 100vh;
}
.textButton {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffcf00;
}
.title {
    font-size: 2rem;
}
.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: rgba(54, 202, 203, 1);
}
.dot-active {
    width: 8px;
    height: 8px;
}
.info-text-item {
    font-size: 1.6rem;
    font-weight: 500;
}
.c-yellow {
    color: #FFCF00
}
.transparent-btn {
    color: #d7d7d7;
    font-size: 1.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
}
.c-blue {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(18, 178, 179, 1)
}
.fz-xs {
    font-size: 1.2rem;
}
.fz-s {
    font-size: 1.2rem;
}
.fz-m {
    font-size: 1.4rem;
}
.fz-l {
    font-size: 1.6rem;
}
.fz-xl {
    font-size: 2rem;
}