.linkBlock {
    border-radius: 16px;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.05);
}
.linkBlockTelegram {
    background: linear-gradient(203deg, #37aee2 21.67%, #1e96c8 70%);
}
.linkBlockWhatsapp {
    background: linear-gradient(0deg, #25cf43 0%, #61fd7d 100%), #fff;
}
