.block {
    border: 1px solid rgba(226, 226, 233, 1);
    border-radius: 6px;
}
.block input::placeholder {
    color: rgba(226, 226, 233, 1);
}
.blockFocused {
    border: 1px solid #ffcb3d;
}
.blockError {
    border: 1px solid #f40f0f;
    color: #f40f0f;
}
