.modal {
    z-index: 4;
    overflow-y: auto;
}
.bgShadow {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
}
.bgShadowVisible {
    visibility: visible;
    opacity: 1;
}